/*mobile-view from 375px*/
@font-face{
  src: url(fonts/hlnhenha.ttf);
  font-family:hen;
}
@font-face{
  src: url(fonts/OpenSans-BoldItalic.ttf);
  font-family:welcome;
}
@font-face{
  src: url(fonts/Archivo-Italic.ttf);
  font-family:foodfun;
}
@font-face{
  src: url(fonts/analogue85black.ttf);
  font-family:analog;
}
hr{
  display:none;
}
.navbar-toggler-icon {
  position: absolute;
  right:15px;
  bottom:11px;
  width:1.45em;
  font-size:1.5rem;
  color: #1E1600;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(30,22,0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
button:focus{
  outline: 5px auto #866332;
}
#navbar_logo{
  display:flex;
  margin:8px auto; 
  height: 48px;
}
.navbar{
  padding:0;
}
#navbar_supported_content {
  position: absolute;
  z-index: 2;
  width: 100%;
  top:0px;
}
.navbar-nav{
  border-bottom:1px solid #1E1600;
  text-align:center;
  border-top: 10px solid #1E1600;
}
.nav-item{
  background-color:#1E1600;
  padding:12px 0;
}
a,a:hover{
  color:white;
  text-decoration:none;
}
.nav-item:hover a{
  color: #866332;
}
.nav-item:hover{
  background-color: #ffffff;
  cursor: pointer;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  display:none;
}
.d-block{
  height:200px;
}
.carousel-indicators li {
  width: 10px!important;
  height: 10px!important;
  border-radius: 50%;
  border:2px solid orange;
}
#carousel_controls{
  z-index: 1;
}

.carousel-caption h4{
  max-height:55px;
  font-size:9.5vw;
  font-family: hen;
}

#plate-img{
  width: 100%;
  height:auto;
  padding:15px 35px 0;
 }
.banner-content{
  background-color:#e4e4e4;
  padding:15px 20px;
  margin: 0px 45px;
  position:relative;
  bottom:45px;
  box-shadow:10px 6px 12px  rgba(0,0,0,.5);
}
.lorem{
  line-height:1.9;
  font-size:4vw;
  margin-bottom:0px;
}
#extra-tablet,#extra-desktop{
  display:none;
}
.to{
  font-family: foodfun;
  font-size:7.3vw;
  margin-bottom:20px;
}
.welcome{
  font-family: welcome;
  font-size:7.5vw;
  color:#ab6d00;
}
.welcome::first-letter{
  font-size:10vw;
}

#update{
  font-family:analog;
  font-weight:900;
  font-size:30px;
  text-align:center;
  margin-bottom:15px;
}
.foodstyle{
  color:#a26920;
}
.food1{
  width:100%;
}
.food-img{
  padding:0;
  height:85vw;
  width:100%;
  overflow:hidden;
}
.crop1 img{
  margin:-70px 0 0 0;
}
.crop2 img{
  margin:-180px 0 0 0;
}
.crop3 img{
  margin:-20px 0 0 0;
}
.crop4 img{
  margin:-100px 0 0 0;
}

.quick{
  background-color:#111312;
  color:white;
  margin-top:30px;
}
.quick-links{
  margin-bottom:-10px;
}
.quick-links h6{
  font-weight:600;
  margin-top:25px;
  font-size:19px;
}
.links{
  list-style-type:none;
  padding:0px;
}
.link-list a{
  font-size:17px;
  margin-left:1px;
  margin-right:10px;
}
.link-list{
  display:inline;
}
label
{
  font-size:19px;
  font-weight:600;
  margin-top:20px;
}
input#fname{
  color:grey;
  border:0;
  height:35px;
  width:225px;
}
input[type="submit"]{
  background-color:#c57901;
  color:white;
  padding:0 30px 0 15px;
  border:0;
  margin:10px 0 8px;
  font-size:14px;
  font-weight:bold;
  padding:3px 20px 3px 10px;
}
::placeholder{
  font-size:15px;
}
.contact-info h6{
  margin:22px 0 8px;
  font-weight:600;
  font-size:19px;
}
.info{
  font-size:15px;
}
form{
  margin-bottom:10px;
}
.details{
  padding-left:10px;
}
.small-icon{
  padding-right:0;
}
.page-footer{
  background-color: #0b0b0b;
  text-align:center;
  color:white;
}
.copyright{
  font-size:11px;
  padding-top:10px;
}
.copyright p{
  margin-bottom:5px;
}
  
.later {
  padding: 0;
  margin-top: 6px;
}

.first {
  padding: 0;
  display: inline;
}

.later li{
  list-style: none;
}


.follow{
  font-size:11px;
  padding:0;
}

.icons{
  margin:0 5px  0;
}

/*tablet-view from:768px*/
@media (min-width: 768px){
  .d-block{
    height:auto;
  }
  #navbar_logo{
    height:80px;
    padding:10px 0;
  }
  .navbar{
    padding:8px 0 12px;
    margin:0 0px 70px;
  }
  .nav-item{
    background-color:white;
    margin:auto;
  }
  a{
    color:black;
    font-size:22px;
    text-decoration:none;
  }
  #navbar_supported_content {
    top: 25px;
  }
  .navbar-nav {
    width: 100%;
    border: none;
    position:relative;
    bottom:6px;
  }
  .nav-item:hover a{
    color: #000000;
  }
  hr{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    border-style: inset;
    background-color:grey;
  } 
  .carousel-indicators li {
    width: 15px!important;
    height: 15px!important;
    border-radius: 50%;
    border:2px solid orange;
  }
  .carousel-caption h4{
    max-height:none;
  }
  
  .plate{
    padding:0;
  }
  #plate-img{
    width:115%;
    margin:60px 0 0 30px;
    padding:0;
  }
  .banner-content{
    height:52vw;
    top:50px;
    right:16px;
    padding:20px 20px 20px 30px;
  }
  h5.welcome{
    font-size:3.5vw;
    margin-top:10px;
  }
  h5.welcome::first-letter{
    font-size:4.5vw;
  }
  .to{
    font-size:3.5vw;
    margin-bottom:30px;
  }
  .lorem{
    font-size:2vw;
    line-height:2.5;
  }
  #extra-tablet{
    display:inline;
  }
  .food-banner{
    margin-top:100px;
    margin-bottom:55px;
  }
  #update{
    font-size:30px;
  }
  .food-img{
    height:auto;
  }
  .crop1 img,.crop2 img,.crop3 img,.crop4 img {
    margin:0;
  }
  .links a{
    color:white;
  }
  .link-list{
    display:block;
    margin-top:12px;
  }
  .link-list a{
    margin-bottom:10px;
  }
  label{
    margin-bottom:14px;
  }
  .contact-info h6{
    margin-bottom:15px;
  }
  .info{
    margin-bottom:25px;
  }
  .small-icon{
    padding-right:3px;
  }
  .details{
    padding-left:15px;
  }
  .copyright{
    text-align:left;
  }
  .later {
    float: right;
  }
  .follow {
    display: inline;
  }
  
}

/*desktop view from 992px*/
@media (min-width: 992px){
  #extra-desktop{
    display:inline;
  }
  .carousel-indicators li {
    width: 20px!important;
    height: 20px!important;
    border-radius: 50%;
    border:2px solid orange;
  }
  #plate-img{
    width:130%;
    margin-left:107px;
  }
  .banner-content{
    height:42vw;
    top:80px;
    right:-15px;
    margin:0 137px;
  }
  h5.welcome{
    font-size:3vw;
  }
  h5.welcome::first-letter{
    font-size:4vw;
  }
  .to{
    font-size:3vw;
  }
  .lorem{
    font-size:1.6vw;
    line-height:2.3;
  }
  #update{
    font-size:50px;
  }
}

